// nextflow.config


params{
    //base
    sample = 'test'
    sample_list = 'sample_list.csv'
    outdir = 'results'
    trim_reads = false
    //exome_bed = false
    //exome_bed = ''
    exome_bed = 'hg38_angilent_cover.bed'
    run_snv_indel = true
    run_indicator = true
    run_fusion = true

    //DNA
    ref = 'Homo_sapiens_assembly38.fasta'
    dnaIndexFiles = '*.{amb,ann,bwt,pac,sa,fai,dict}'

    //sentieon
    sentieon_license = 'sentieon.lic' 
    sentieon_dir = 'sentieon/bin'
    platform = 'ILLUMINA'

    //gatk
    //smvdb1 need to be dbsnp
    smvdb1 = 'gatk_resource/dbsnp_146.hg38.vcf.gz'
    smvdb2 = '1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    smvdb3 = 'Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    dict = 'Homo_sapiens_assembly38.dict'

    //vep
    //包含homo_sapiens_vep_105_GRCh38.tar.gz解压后的数据
    cache = 'vep_data'
    plugin = 'VEP_plugins'
    transcript_version = true

    //hisat2
    rnaIndexFiles_h = '*.{1,2,3,4,5,6,7,8}.ht2'
    //stringtie,no gz
    //gtf = 'Homo_sapiens_GRCh38_105_chr.gtf'
    //kallisto
    gtf= 'Homo_sapiens.GRCh38.105.gtf'
    cdna = 'Homo_sapiens.GRCh38.cdna.all.fa.gz'
    rnaIndexFiles_k = '*kallisto.idx'

    //optitype
    opti_image = 'singularity_image/optitype.simg'
    opti_hla_ref_path = 'OptiType/data'

    //bam_readcount
    //readcount_dir= '~/software'

    //pvacseq
    //vac_method_I="NetMHC-NetMHCpan-NetMHCcons-MHCflurry-MHCnuggetsI-SMM-SMMPMBEC-PickPocket"
    //HLA_I= 'HLA-A*02:01,HLA-A*68:01,HLA-B*44:02,HLA-B*15:07,HLA-C*03:03,HLA-C*07:04'
    //vac_method= 'all_class_i'
    vac_method = 'all'
    //vac_method = 'NetMHCpan-NetMHCcons-MHCnuggetsI-SMM-SMMPMBEC'
    iedb_dir = 'IEDB'
    //blastp_dir= 'ncbi-blast-2.13.0+/bin'
    //vac_method_I="all_class_i"
    //vac_method_II="NetMHCIIpan-MHCnuggetsII-NNalign-SMMalign"
    //vac_method_II="all_class_ii"
    AF_method = "sentieon"
    PVACSEQ_AF = 0.01
    PVACSEQ_RAF = 0.001
    pass_only = false
    pvacseq_split_hla = false
    hla_i = true
    hla_ii = true
    hla_i_ii = false
    peptide_flank_length = 13

    //prime_netmhcstabpan_bigmhc_path
    prime_path = 'PRIME-2.0'
    mixmhcpred_path = 'MixMHCpred-2.2'
    netmhcstabpan_path = 'netMHCstabpan-1.0'
    bigmhc_path = 'bigmhc'
    bigmhc_model = 'im'

    //RNA fusion
    //ctat=star-fusion/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/
    //vep 105
    ctat = 'star-fusion/GRCh38_gencode_v37_CTAT_lib_Mar012021.source/ctat_genome_lib_build_dir'
    starFusion_simg = 'singularity_image/star-fusion.v1.10.1.simg'
    pyensembl_cache = 'AGFusion'
    agfdb = 'AGFusion/agfusion.homo_sapiens.105.db'
    easyfuse_sif = 'easyfuse.sif'
    easyfuse_ref = 'easyfuse_ref'

    //cnvkit
    exon_flatten_bed = 'cnvkit_purecn/hg38_exon_ucsc_24chr_flatten.bed'
    access_bed = 'cnvkit_purecn/cnvkit_access_5kb_hg38.bed'
    refFlat = 'cnvkit_purecn/refFlat.txt'
    simpleRepeat = 'cnvkit_purecn/hg38_simpleRepeat_ucsc_24chr.bed'

    //purecn
    purecn_path = '~/miniconda3/envs/purecn/lib/R/library/PureCN/extdata'
    TMB_AF = 0.01
    TNB_AF = 0.01

    //sequenza
    hg38_gc_wig = 'hg38_gc50bp.wig.gz'

    //polysolver
    poly_image = 'singularity_image/polysolver_v4_box.simg'

    //lohhla
    LOHHLAscript_dir = 'LOHHLA-master'
    HLAfastaLoc = 'LOHHLA/abc_complete.fasta'
    HLAexonLoc = 'LOHHLA-master/data/hla.dat'
    LOHHLA_conda_env = '~/miniconda3/envs/lohhla/bin'

    //dash
    DASH_dir = 'DASH-1.1.0/Algorithm'
}


includeConfig './profiles.config'
