// nextflow.config

profiles {
    // envs to be used in the conda profile
    conda {
        //params.enable_conda = true
        //createTimeout = "60 min"
        process {

            withLabel: l_cpus {
                cpus = 16
                //memory = 64.GB
            }

            withLabel: m_cpus {
                cpus = 16
                //memory = 64.GB
            }

            withLabel: s_cpus {
                cpus = 16
                //memory = 64.GB
            }

            withName: VEP {
                conda = '/home/dxk/miniconda3/envs/vep'
            }

            withName: HLA_LA {
                conda = '/home/dxk/miniconda3/envs/hlala'
            }

            //withName: 'PVAC.*' {
            withName: 'PVACSEQ_HLA_I|PVACSEQ_HLA_II|PVACSEQ_SPLIT_HLA|PEPTIDE_POSTPROCESS_HLA_I_PVACSEQ|PEPTIDE_POSTPROCESS_HLA_II_PVACSEQ|PVACFUSE_HLA_I|PVACFUSE_HLA_II|PEPTIDE_POSTPROCESS_HLA_I_PVACFUSE|PEPTIDE_POSTPROCESS_HLA_II_PVACFUSE' {
                conda = '/home/dxk/miniconda3/envs/pvactools'
            }

            withName: AGFUSION {
                conda = '/home/dxk/miniconda3/envs/agfusion'
            }

            withName: CALLSTATE {
                conda = '/home/dxk/miniconda3/envs/callstate'
            }

            withName: READS_STAT {
                conda = '/home/dxk/miniconda3/envs/mosdepth'
            }

            withName: CNVKIT {
                conda = '/home/dxk/miniconda3/envs/cnvkit'
            }

            withName: PURECN {
                conda = '/home/dxk/miniconda3/envs/purecn'
            }

            withName: 'SEQUENZA.*' {
                conda = '/home/dxk/miniconda3/envs/sequenza'
            }

            withName: DASH {
                conda = '/home/dxk/miniconda3/envs/dash'
            }
        }
    }
    }